@import "tailwindcss";

@theme {
  --color-brand-dark: #0f172a;
  --color-brand-accent: #ff8264;
  --color-brand-accentLight: #fff5f2;
}

body {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

@layer utilities {
  .animate-in {
    animation-fill-mode: both;
  }
  .fade-in {
    animation-name: fadeIn;
  }
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
}
